package component

templ SubmitButton() {
	<button
		type="submit"
		class="bg-neutral-300 hover:bg-neutral-100 active:bg-neutral-500 active:scale-95 rounded-2xl p-2 m-1 text-neutral-950 transition-all duration-200"
	>
		submit
	</button>
}
